.card {
  position: relative;
/*   margin: 5px 2px; */
  width: 165px;
  height: auto;
}

.logo-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

h6 {
  font-family: 'ABeeZee', sans-serif;
}

.card:hover {
  transform: scale(1.05);
}
