.jumbotron {
  background-color: black;
  color: white;
  padding: 25px;
  text-align: center;
}

.display-4 {
  font-family: 'Patua One', cursive;
}

.click-card, .score {
  font-family: 'ABeeZee', sans-serif;
}

