.jumbotron {
  background-color: black;
  color: white;
  padding: 25px;
  text-align: center;
  margin-bottom: 0rem;
}

.display-4 {
  font-family: 'Patua One', cursive;
}

h3, h5 {
  font-family: 'ABeeZee', sans-serif;
}